.button{
    background-color:#9CC95C;
}
#card { 
    width: 100%;
    display: flex;
    padding-bottom: 15px;
    margin-top: 10px;
  }
  #opciones{
    width: 100%;
    display: flex;
    padding-left: 0em;
    padding-bottom: 15px;
    margin-top: 10px;
    
  }