<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtrando elementos</title>
    <link rel="stylesheet" href="../css/tienda.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
   
    <script src="../js/tienda.js"></script>

</head>
<body>
<div class="wrap ">
    <h1> Escoge un producto</h1>
    <div class="store-wrapper">
        <div class="category_list">
            <a href="#" class="category_item ct_item-active" category="all"> Todo </a>
            <a href="#" class="category_item" category="Hamburguesas"> Hamburguesas </a>
            <a href="#" class="category_item" category="Pizzas"> Pizzas</a>
            <a href="#" class="category_item" category="Verduras"> Verduras</a>
            <a href="#" class="category_item" category="Frutas"> Frutas</a>
 
        </div>
        <section class="products-list">
            <div class="product-item " category="Pizzas">
                <img src="../img/Tienda/america_digital_pizza_vegetariana_faciles_2021-2-1026x570.jpg" height="200" width="260" alt="">
                <a href="#">Pizza Magic</a>
                </div>

                <div class="product-item" category="Pizzas">
                <img src="../img/Tienda/delicia.jpg"height="200" width="260" alt="">
                <a href="#">Pizza con Tomate</a>
            </div>

                <div class="product-item" category="Pizzas">
                 <img src="../img/Tienda/pizza-napoletana-vegana-3.jpg" height="200" width="260"alt="">
                 <a href="#">Pizza de rúcula y tomates</a>
                </div>

                 <div class="product-item" category="Pizzas">
                <img src="../img/Tienda/pizza 3.jpg"height="200" width="260" alt="">
                <a href="#">Pizza max de rúcula y tomates</a>
            </div>

                 <div class="product-item" category="Pizzas">
                 <img src="../img/Tienda/pizza-vegana-con-albahaca-tomates-cherry-y-morron-foto-principal.jpg" height="200" width="260"alt="">
                 <a href="#">Pizza de tofu, aceitunas y tomates</a>
                </div>

                 <div class="product-item" category="Pizzas">
                <img src="../img/Tienda/Pizza-vegetariana-con-masa-de-maiz.png" height="200" width="260" alt="">
                <a href="#">Pizza de palta y aceitunas</a>  
            </div> 

                <div class="product-item" category="Hamburguesas">
                <img src="../img/Tienda/Hamburguesa 1.jpg" height="200" width="260" alt="">
                <a href="#">Hamburguesa de lentejas</a>
            </div>

                <div class="product-item" category="Hamburguesas">
                <img src="../img/Tienda/Hamburguesa 2.jpg" height="200" width="260" alt="">
                <a href="#">Hamburguesa extra de lentejas y lechuga</a>
            </div>

                <div class="product-item" category="Hamburguesas">
                <img src="../img/Tienda/descarga.jpg" height="200" width="260" alt="">
                <a href="#">Hamburguesa de lechuga y papa</a>
            </div>

                <div class="product-item" category="Hamburguesas">
                <img src="../img/Tienda/descarga (1).jpg" height="200" width="260" alt="">
                <a href="#">Hamburguesa de esparrago y zapallo</a>
            </div>

                <div class="product-item" category="Hamburguesas">
                <img src="../img/Tienda/Hamburguesa5.jpg" height="200" width="260" alt="">
                <a href="#">Hamburguesa de palta</a>
            </div>

                <div class="product-item" category="Vegetal">
                 <img src="../img/Tienda/Tomate.jpg" height="200" width="260" alt="">
                 <a href="#">Tomates</a>
                </div>

                  <div class="product-item" category="Vegetal">
                 <img src="../img/Tienda/papa.jpg" height="200" width="260" alt="">
                 <a href="#">Papa</a>
                </div>

                 <div class="product-item" category="Fruta">
                    <img src="../img/Tienda/Ciruela.jpg" height="200" width="260" alt="">
                    <a href="#">Ciruela</a>
                </div>
        
        </section>

    </div>
</div>
</body>
</html>